/NotificationDispatcher/obj
/NotificationDispatcher/bin
/NotificationHubSample/NotificationHubSample/obj
/NotificationHubSample/NotificationHubSample/bin
/NotificationHubSample/NotificationHubSample.Android/obj
/NotificationHubSample/NotificationHubSample.Android/bin
/NotificationHubSample/NotificationHubSample.iOS/obj
/NotificationHubSample/NotificationHubSample.iOS/bin
